<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>

  <body>
    <div class="preloader">
      <div class="box">
        <div class="box-container">
          <span class="circle"></span>
          <span class="circle"></span>
          <span class="circle"></span>
          <span class="circle"></span>
        </div>
      </div>
    </div>
    <div id="root">

      <h1 class="ff-8bit">Камень ножницы бумага</h1>

      <p class="instructions">
        После отсчета покажите жест и задержите его ненадолго
      </p>

      <div class="game-container">
        <div class="player">
          <h2 class="player-headline">
            <span class="nick">Вы</span>
            <span class="score" id="score1">0</span>
          </h2>
          <div class="player-container">
            <video id="player-video" class="player-video" poster="assets/human.png" playsinline></video>
            <div class="player-hand-container">
              <div id="player-hand" class="player-hand"></div>
              <svg id="timer-ring" class="timer-ring" height="100" width="100">
                <circle class="timer-ring-circle"
                  stroke-width="6" stroke="white" fill="transparent"
                  r="38" cx="50" cy="50" />
                <circle id="timer-ring-circle" class="timer-ring-circle"
                  stroke-width="6" stroke="blue" fill="transparent"
                  r="38" cx="50" cy="50" />
              </svg>
            </div>
          </div>
        </div>
     
        <div class="messages">
          <span id="message" class="message-text message-fadeInOut"></span>
        </div>

      </div>

    </div>
  </body>
</html>